<div class="row">
  <div class="col-13">
    <% if project.name == '#WinSoMuch' %>
      <%= image_tag "WinSoMuch.gif", class: "project-picture" %>
    <% else %>
      <%= image_tag "#{project.name}.png", class: "project-picture" %>
    <% end %>
  </div>

  <div class="col-23">
    <h2><%= project.name %></h2>
    <!-- <label><%= project.state %></label> -->

    <p><%= project.description%></p>

    <ul class="link-list">
      <% unless project.links.nil? %>
        <% project.links.each do |link| %>
          <li>
            <% link_to link, relative: false, target: "blank" do %>
              <% if link.include?("github") %>
                <i class="fa fa-github" aria-hidden="true"></i>
              <% else %>
                <i class="fa fa-globe" aria-hidden="true"></i>
              <% end %>
              <%= link.gsub(/^(https:\/\/github.com\/|(https|http):\/\/)/, '') %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <ul class="skill-list">
      <% unless project.learnings.nil? %>
        <% project.learnings.each do |learning| %>
          <li><%= learning %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
